// Media queries
// Vista tablet
@media(min-width: 768px) {

    // Alturas
    @each $seccion,
    $altura in $alturaTablet {
        .#{$seccion} {
            height: $altura;
        }
    }

    .main {
        @include calculoAlturaMain($alturaTablet);
    }

    // Index
    .index {
        .tienda {
            .containerImagenes {
                grid-template-rows: 180px;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    .nosotros,
    .cursos {

        // Tamaño videos
        .video {
            width: 450px;
            height: 271px;
            padding: 1rem;
        }
    }

    // Formulario de contacto
    .contacto {
        .formContacto {
            width: 70%;
        }
    }

    // Footer
    .footer {
        flex-direction: row;

        .containerFormFooter {
            width: 50%;
        }
    }

    .ventanaCarrito{
        width: 80%;
        left: 10%;
    }
}


// Vista escritorio
@media(min-width: 1024px) {

    // Alturas
    @each $seccion,
    $altura in $alturaEscritorio {
        .#{$seccion} {
            height: $altura;
        }
    }

    .main {
        @include calculoAlturaMain($alturaEscritorio);
    }

    // Párrafos
    p {
        font-size: 1rem;
    }

    // Nosotros
    .nosotros {
        grid-template-areas:
            "tituloPagina tituloPagina"
            "video texto1"
            "video texto2"
            "texto3 imagenPrincipal";

        .imagenPrincipal {
            width: 450px;
            height: auto;
        }

        .mostrar {
            display: unset;
        }
    }

    // Index
    .index {
        .tienda {
            .containerImagenes {
                height: 300px;
                padding: 2rem;

                /* Efectos */
                .efectoImagen {
                    position: relative;
                    float: left;

                    &:hover .efectoTexto {
                        opacity: 95%;
                    }

                    &:hover .imagenTienda {
                        opacity: 1;
                        transform: scale(1.15, 1.15);
                        -webkit-transform: scale(1.15, 1.15);
                        -moz-transform: scale(1.15, 1.15);
                        -ms-transform: scale(1.15, 1.15);
                        -o-transform: scale(1.15, 1.15);
                        -webkit-transition: all 0.25s ease-in-out;
                        -moz-transition: all 0.25s ease-in-out;
                        -o-transition: all 0.25s ease-in-out;
                        -ms-transition: all 0.25s ease-in-out;
                        transition: all 0.25s ease-in-out;
                    }
                }

                .efectoTexto {
                    cursor: pointer;
                    position: absolute;
                    opacity: 0;
                    -webkit-transition: all 0.45s ease-in-out;
                    -moz-transition: all 0.45s ease-in-out;
                    -o-transition: all 0.45s ease-in-out;
                    -ms-transition: all 0.45s ease-in-out;
                    transition: all 0.45s ease-in-out;
                }

                .containerImagen {
                    .tituloImagen {
                        width: 250px;
                        transform: scale(1.15, 1.15) translate(0%, -155%);
                    }

                    .imagenTienda {
                        width: 250px;
                        height: auto;
                    }
                }
            }
        }
    }

    // Cursos
    .cursos {
        grid-template-areas:
            "tituloPagina tituloPagina"
            "texto1 video"
            "texto2 video";
    }

    // Contacto
    .contacto {
        .formContacto {
            .containerFormContacto {
                .form {

                    .areaTexto,
                    .formLabel {
                        font-size: 0.9rem;
                    }

                    .formInput {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .ventanaCarrito{
        width: 60%;
        left: 20%;
    }
}